<div class="container">
    <h3 class="d-flex justify-content-center "><i class="fa-solid fa-book-open-reader"></i>  Story Book</h3>
<br>
<div class="section mt-3">
    <p>Ceative your public and private thinking your mind</p>
</div>
<br>
<hr>
<div class="section d-flex justify-content-center mt-4">
   <button class="btn btn-danger btn-sm text-white">
    <a href="/auth/google" class="text-white">
    <span class="">LOGIN WITH GOOGLE</span>
    </a>
    </button>
</div>
</div>