*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style:none;
}

.justify-content-center {
    margin-left: -25px;
    justify-content: center!important;
}

.card {
    border: 0;
    margin-left: 299px;
}

.card {
    border: 0;
    margin-left: 98px;
    margin-right: 53px;
}



.search{
    margin-top: 69px;
}


.hb-d {
    margin-left: 100px!important;
    /* margin-top: 80px; */
}

.header_class{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Style for the small modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 300px;
    left: 30px;
    bottom: 20px;
}

.modal-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 400px; /* Adjust the width as needed */
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
}

/* Style for the button to open the modal */
.brm {
    padding: 10px 20px;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* socket style */
h2 {
    font-size: 18px;
    padding: 20px 80px;
    color: #ffffff;
    text-align: center;
  }

  #app {
    border: 1px solid #ffffff;
    max-width: 800px;
    margin: 30px auto;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
  }

  #chat-window {
    height: 200px;
    overflow: auto;
    background: #f9f9f9;
  }

  #output p {
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
  }

  #feedback p {
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
  }

  #output strong {
    color: #2b90d9;
  }

  label {
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
  }

  input {
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
  }

  #send{
    background: #2b90d9;
        color: #fff;
        font-size: 18px;
        border: 0;
        padding: 12px 0;
        width: 100%;
        border-radius: 0 0 2px 2px;

  }

