.justify-content-center {
    margin-left: -25px;
    justify-content: center!important;
}

.card {
    border: 0;
    margin-left: 299px;
}

.card {
    border: 0;
    margin-left: 98px;
    margin-right: 53px;
}


.hb-d {
    margin-left: 100px!important;
    /* margin-top: 80px; */
}
